

nav{
  width: 100%;
  background: #1C1C1C;
  overflow: auto;
}
ul{
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}
li {
  float: right;
}
.features{
  border-bottom: 4px solid red;
}
.logo img{
  position: absolute;
  margin-top: 10px;
  margin-left: 147px;
  width: 119px;
  height:52px;

}
nav a{
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: #FFFFFF;
  text-align: center;
}



body{
  background: url(../app/images/banner.png);
  opacity: 100%;
}
.img{
    top:138px;
    left: 150px;
    width: 247px;
    height: 108px;
    opacity: 1;
}